.item {
  flex: 0 0 19.7%;
  transition: transform 300ms ease 100ms;
  margin: 0 2px;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    vertical-align: top;
  }
}

body{
  overflow: hidden;
}
.screen-slider{
   outline: none;
}

.screen-slider:focus{
  border: 2px solid #fff;
}

